/* Styles go here */
/* <link rel="preconnect" href="https://fonts.gstatic.com"> */
/* <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">  */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../images/bg2.jpg");
  /* background: red; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

table {
  margin-top: 10%;
  background: white;
}

.style-text {
  color: black;
}

#title {
  color: rgb(243, 238, 215);
  margin-left: 4%;
  padding: 0.7%;
  font-size: 2em;
}

#nav-bar {
  background: rgb(5, 10, 69);
  font-family: "Lato";
}

#account {
  font-size: 1em;
  color: aliceblue;
}
